@import url('print.css');

div.new_block, div.block {
    clear: both;
}

div.new_block:hover {
    background-image: url("../images/drop_back_active.png");
    border-color: #000000;
}

div.block {
    margin: 0;
    height: 30px;
    position: relative;
    clear: both;
    min-height: 60px;
}

div.innerBlock {
    float: left;
}

div.blockActions {
    margin-top: 15px;
    position: relative;
    float: right;
}

div.question {
    margin-top: -7px;
}

div.blockInfo {
    margin-bottom: 4px;
}

div#feedback_overview {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

div.feedback {
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #F4F4F4;
    padding: 18px;
    margin-left: -18px;
}

div.feedback_ov_item, div.feedback_ov_item_blank {
    background-color: #CEE6FF;
    height: 30px;
    border: 1px #808080 solid;
    text-align: center;
    line-height: 30px;
    z-index: 10;
    float: left;
    margin-right: -2px;
}

div.feedback_ov_item_blank {
    background-color: #E8E8E8;
    color: #696969;
}

div.slider_warning {
    background-color: #EDA69F;
}

div.fsx_slider {
    padding: 8px;
}

div.fsx_slider_warning {
    margin-bottom: 12px;
}

h1.feedback_block_title {
    border-bottom: 1px #808080 dotted;
}

.feedback_block_abbreviation:before {
    content: "["
}

.feedback_block_abbreviation:after {
    content: "]"
}

table#feedback_overview_table {
    width: 100%;
    border-left: 1px solid #808080;
}

table#feedback_overview_table td {
    width: 1%;
}

td.feedback_overview_line, td.feedback_overview_line_double {
    border-right: 1px solid #808080;
    height: 20px;
    font-size: 8px;
    line-height: 20px;
    color: #808080;
    text-align: right;
}

td.feedback_overview_line_double {
    border-right: 2px solid #808080;
}

td.feedback_ov_item, td.feedback_ov_item_blank {
    border: 1px solid #808080;
    border-left: none;
    height: 20px;
    line-height: 25px;
    text-align: center;

}

td.feedback_ov_item, div.ui-slider-range {
    background: rgb(208, 232, 255) none;
}

td.feedback_ov_item_blank {
    background-color: #D3D3D3;
}

.ilSubForm > .ilForm {
    width: 100%;
}

a.il_ContainerItemCommand {
    padding-left: 20px;
}

.add_button, .delete_button {
    padding-left: 4px;
}

.table-responsive img.icon_ok {
    width: 25px;
}
