@media print {
    body {
        background-color: white;
        background-image: none;
    }

    .feedback_block_title {
        /** page-break-before: always;**/
    }

    .feedback_block_abbreviation:before {
        content: "["
    }

    .feedback_block_abbreviation:after {
        content: "]"
    }

    div.ilMainHeader, div.il_HeaderOuter, div.ilPermaLink, div.il_Footer, div.ilTopBar, .breadcrumb, ul#ilTab, .il-maincontrols, .il-layout-page header, .header-inner, .breadcrumbs {
        display: none;
    }

    div.il-layout-page {
        display: block;
        height: auto;
        overflow: visible;
    }

    .il-layout-page-content {
        display: block;
    }

    #mainspacekeeper, div.ilTabContentOuter {
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    #mainspacekeeper {
        background-color: white;
    }

    .feedback {
        page-break-after: always;
        page-break-inside: avoid;
    }

    .ilChartWrapper {
        page-break-inside: avoid;
    }

    @page {
        size: auto;
        margin-bottom: 0mm;
    }
}
